---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';
import { SITE_TITLE } from '../consts';
interface Props {
  title: string
  description: string
  image?: string | undefined
  keywords?: string | undefined
}

// Provide a fallback URL if Astro.site is not defined
const canonicalURL = new URL(
  Astro.url.pathname,
  Astro.site ?? SITE_TITLE
);

const {
  title,
  description,
  image,
  keywords
} = Astro.props;
---

<!-- Global Metadata -->
<meta charset='utf-8' />
<meta name='viewport' content='width=device-width,initial-scale=1' />
<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
<meta name='generator' content={Astro.generator} />

<!-- Resource Hints -->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="dns-prefetch" href="https://fonts.gstatic.com" />

<!-- Font preloads -->
<link
  rel='preload'
  href='/fonts/poppins-regular.woff2'
  as='font'
  type='font/woff2'
  crossorigin
/>
<link
  rel='preload'
  href='/fonts/poppins-bold.woff2'
  as='font'
  type='font/woff2'
  crossorigin
/>


<!-- Canonical URL -->
<link rel='canonical' href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name='title' content={title} />
<meta name='description' content={description} />
{keywords && <meta name='keywords' content={keywords} />}

<!-- Open Graph / Facebook -->
<meta property='og:type' content='website' />
<meta property='og:url' content={Astro.url} />
<meta property='og:title' content={title} />
<meta property='og:description' content={description} />
{image && <meta property='og:image' content={image} />}

<!-- Twitter -->
<meta property='twitter:card' content='summary_large_image' />
<meta property='twitter:url' content={Astro.url} />
<meta property='twitter:title' content={title} />
<meta property='twitter:description' content={description} />
{image && <meta property='twitter:image' content={image} />}

<!-- Performance Optimizations -->
<meta http-equiv="x-dns-prefetch-control" content="on" />
<link rel="modulepreload" href="/src/pages/index.astro" />
<link rel="modulepreload" href="/src/components/Header.astro" />
<link rel="modulepreload" href="/src/components/Footer.astro" />
